# Don't commit system files or dependencies
*.DS_Store
node_modules/

# Ensure Hugo builds aren't committed to Git
public/
site/public/
dist/
.tmp/
renovate.json
.hugulprc
.browserslistrc
.eslintrc.yml
.patch
.postcssrc.js
.stylelintrc.yml
package-lock.json
yarn.lock
node_modules
.git
